@import "../coloursMap";
@import "../mixins";

/*	Buttons (v1.0.8)
********************/
.btn, .btn:link, .btn:hover, .btn:focus {
    border-radius:0;
    color:#fff;
    display:inline-block;
    padding: 14px 23px;
    font-size: 1rem; /* 14px on desktop and 12px on mobile	*/
    line-height: 1.14em; 
    font-family: Arial, sans-serif;
    font-weight:bold;
    text-decoration:none;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.btn:hover {
    cursor:pointer;	
}


button.btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=50);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .50;
}

/* There are plans to remove the .more class in the future */
.more, .more:link, .more:focus, .more:hover {
    background: transparent;
    border: 1px solid $black70;
    color: $black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 14px 23px;
    font-size: 1rem; /* 14px on desktop and 12px on mobile	*/
    line-height: 1.14em; 
    font-family: Arial, sans-serif;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.more:focus,.more:hover {
    color: #fff;
    background: $black70;
    border: 1px solid $black70;
}

.more:active {
    background: $black;
    border: 1px solid $black;
    color: #fff;
}

/* Primary Button */
.btn--primary, .btn--primary:focus .btn--primary:hover, .btn--primary:active, .btn--primary:visited {
    border-radius:0;
    border: 1px solid transparent;
    color:#fff;
}

/* Secondary Button */
.btn--transparent, .btn--transparent:link, .btn--transparent:visited,
body .text-component  .btn.btn--transparent, body .text-component  .btn.btn--transparent:link, body .text-component  .btn.btn--transparent:visited {
	background:transparent;
	border:1px solid $black70;
	color:$black;
}

.btn--transparent:hover, .btn--transparent:focus,
body .text-component  .btn.btn--transparent:hover, body .text-component  .btn.btn--transparent:focus {
	background: $black70;
	border: 1px solid $black70;
	color:#fff;
}

.btn--transparent:active,
body .text-component  .btn.btn--transparent:active {
	background: $black;
	border-color: $black;
    color: #fff;
}

.text-component p .btn.btn--transparent, 
.text-component p .btn.btn--transparent:link, 
.text-component p .btn.btn--transparent:visited, 
.text-component p .btn.btn--transparent:hover {
font-size: 1rem;
}
/* Large Call To Action Button */
.cta-btn, .cta-btn:visited {
    border: 1px solid transparent;
    border-radius:0;
    color:#fff;
    display:inline-block;
    font-family: georgia, serif;
    font-size: 1.286rem; /*	renders as 18px on desktop and 15.4px on mobile	*/
    line-height: 1.14em; 
    font-weight: normal;
    padding:18px 30px;
    text-decoration:none;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;

    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
    }
}


/* Large text link */
.lg-text-link, .lg-text-link:link, .lg-text-link:visited, .lg-text-link:focus .lg-text-link:hover {
    border-bottom: 1px solid #ccc;
    color: $black;
    cursor: pointer;
    display: inline;
    font-family: georgia, serif;
    font-size: 1.286rem; /* 18px on desktop and 15.4px on mobile */
    margin-top: 0;
    padding-bottom: 2px;
    text-decoration: none;
    -ms-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

	@media(min-width:768px){
		padding-bottom: 4px;
	}
}

.lg-text-link:hover, .lg-text-link:focus  {
    border-bottom: 2px solid $pagePrimary;
    color: $black;

    @each $label, $color in $componentColours {
        .page-primary-col--#{""+ $label} & {
            border-bottom: 2px solid $color;
        }
    }
    padding-bottom: 1px;
    text-decoration: none;
	@media(min-width:768px){
		padding-bottom: 3px;
	}
}


/* Colour themes */
.page-primary-col--red {
    .btn--primary {
        background:$red;
        
        &:focus, &:hover {
            background:$redShade15;
        }

       
        &:active {
            background:$redShade20;
        }
    }
    .cta-btn {
        background:$red;
        &:focus, &:hover {
            background:$redShade15;
        }

       
        &:active {
            background:$redShade20;
        }
    }
}

.page-primary-col--orange {
    .btn--primary {
        background:$orange;
        
        &:focus, &:hover {
            background:$orangeShade15;
        }

       
        &:active {
            background:$orangeShade20;
        }
    }
    .cta-btn {
        background:$orange;
        &:focus, &:hover {
            background:$orangeShade15;
        }

       
        &:active {
            background:$orangeShade20;
        }
    }
}

.page-primary-col--rose {
    .btn--primary {
    background:$rose;
        
        &:focus, &:hover {
            background:$roseShade15;
        }

       
        &:active {
            background:$roseShade20;
        }
    }
    .cta-btn {
        background:$rose;
        &:focus, &:hover {
            background:$roseShade15;
        }

       
        &:active {
            background:$roseShade20;
        }
    }
}

.page-primary-col--burgundy {
    .btn--primary {
    background:$burgundy;
        
        &:focus, &:hover {
        background:$burgundyShade15;
        }

       
        &:active {
        background:$burgundyShade20;
        }
    }
    .cta-btn {
        background:$burgundy;
        &:focus, &:hover {
            background:$burgundyShade15;
        }

       
        &:active {
            background:$burgundyShade20;
        }
    }
}

.page-primary-col--maroon {
    .btn--primary {
        background:$maroon;
        
        &:focus, &:hover {
            background:$maroonShade15;
        }

       
        &:active {
            background:$maroonShade20;
        }
    }
    .cta-btn {
        background:$maroon;

        &:focus, &:hover {
            background:$maroonShade15;
        }

       
        &:active {
            background:$maroonShade20;
        }
    }
}


/* White variations for color background */
.page-section--col-dark {
    .btn--primary {
        background:#fff;
        color: $black;

        &:link, &:visited {
            background:#fff;
            color: $black;
        }

        &:hover, &:focus {
            background:rgba(255,255,255,0.9);
        }

        &:active {
            background:rgba(255,255,255,0.8);
        }
    }

    
    .btn--transparent, .btn--transparent:link, .btn--transparent:visited,
    .text-component .btn--transparent, .text-component .btn--transparent:link, .text-component .btn--transparent:visited {
	    border:1px solid #fff;
	    color:#fff;
	    background:transparent;
    }

    .btn--transparent:hover, .btn--transparent:focus, 
    .text-component .btn--transparent:hover, .text-component .btn--transparent:focus {
	    color:$black;
	    background:#fff;
	    border: 1px solid #fff;
    }

    .btn--transparent:active, .text-component .btn--transparent:active {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #fff;
      color: $black; 
    }

    .cta-btn {
        background:#fff;
        color: $black;

        &:hover, &:focus {
            background:rgba(255,255,255,0.9);
        }

        &:active {
            background:rgba(255,255,255,0.8);
        }
    }

	.lg-text-link, .lg-text-link:link {
	    color: #fff;
	    border-bottom: 1px solid rgba(255,255,255,0.4);
	}

	.lg-text-link:hover, .lg-text-link:focus  {
        color: #fff;
	    border-bottom: 2px solid rgba(255,255,255,1);
	}

}

/*	end Buttons (v1.0.8)
********************/
