
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

.img-responsive--stretch {
    display: block;
    height: auto;
    width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}


/*  new utility classes 
***************/
@media(max-width: 767px) {
  .hide_for_small {
  display: none;
  }
}
@media(min-width: 768px) {
  .hide_for_medium {
  display: none;
  }
}
/*  end new utility classes 
***************/