/*	Small components
*
*
*	The following components are usually used by other components like the collection feed, contacts...etc
*	
*
********************/
/*	Listing filters 
********************/
.listing-filters {
  padding-top: 30px;
  padding-bottom: 30px; }

.listing-filters .form-group {
  display: inline-block;
  margin-right: 6px; }

.listing-filters__select {
  font-size: 1rem;
  /*	do not target generic select element	*/ }

@media (min-width: 768px) {
  .listing-filters {
    padding-top: 70px;
    padding-bottom: 70px; } }

/*	end Listing filters 
********************/
/*	Thumbnail (generic)
********************/
.thumbnail__clip {
  /*max-height: 100px;/* default	*/
  overflow: hidden;
  position: relative;
  width: 100%;
  /* default	*/ }

.thumbnail__clip--100x100 {
  /*max-height: 100px;*/
  /*width: 100px;*/ }

.thumbnail__clip-vert-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0); }

/*	end Thumbnail (generic)
********************/
/*	Generic social media icons listing
********************/
.generic-social {
  padding: 10px 0; }

.generic-social .generic-social__social-link {
  display: inline-block;
  margin-right: 4px;
  text-decoration: none; }

/*	end Generic social media icon listing
********************/
