/* BEGIN Web tile component */
.cta-webtile .cta-webtile__link {
  padding: 40px 0;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none; }
  .cta-webtile .cta-webtile__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all ease .2s;
    z-index: 2; }
  .cta-webtile .cta-webtile__link:hover:before {
    opacity: 1; }
  .cta-webtile .cta-webtile__link .cta-webtile__icon {
    z-index: 3; }
  .cta-webtile .cta-webtile__link .cta-webtile__content {
    z-index: 3; }
    .cta-webtile .cta-webtile__link .cta-webtile__content .cta-webtile__title {
      margin: 0;
      color: #fff;
      /* Override global hyperlink link color */ }
    .cta-webtile .cta-webtile__link .cta-webtile__content .cta-webtile__heading {
      font-weight: bold;
      margin: 0;
      color: #fff; }

/* END Web tile component */
